{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
<h1>{{cats}}</h1>

<ul></ul>
{% for post in category_posts %}
{% if  post.privacy == post.checkpublic %}
    <li><a href="{% url 'article-detail' post.pk %}">{{post.title}}
    </a> - {{post.author}}
    - {{post.post_date}} 
    <small>
        {% if user.is_authenticated %}
        - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
    </small>
    <br>
        {{post.snippet}}</li>
{% endif %}
{% endfor %}
</ul>

{% else %}
<h2>Sorry this page does not exist </h2>

{% endif %}

{% endblock %}
